.aboutInfostext ul li {
    list-style: disc;
    /* color: #222; */
    margin-bottom: 10px;
}
.aboutInfostext ul{
	padding-left: 20px;
}
.serviceOutBox p {
  flex: 1 0 auto;
}
.teamBoxWrap {
  position: relative;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 0 9px rgba(0,0,0, 0.1);
}
.sideBars ul li p{
	margin-bottom: 0;
}
.sideBarSearch button{
	position: absolute;
  top: 1px;
  right: 1px;
  min-height: 36px;
  background-color: #fff;
  border: 0;
  padding: 7px;
}
.smBlogDetail p{
	flex: 1 0 auto;
}
.smBlogBoxBg {
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}
.smBlogDetail {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

/***************************
**********************************/

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.PortfolioMainWrap .PortfolioCaption img {
    height: auto;
    width: 100%;
    max-width: 100%;
    height: 220px;
    object-fit: cover;
}
/**************************
5-13-2019
********************************************/
 .projectDetailInfosLeft *{
  /*margin: initial;
  padding: initial;*/
}
.ourWork .boxText p{
	display:none;
}
.ourWork .boxText{
	margin-bottom: 20px
}
/***************************
1-13-2020
*******************************/
.aboutTeamBox.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}
.no-gutters {
    margin: 0 -8px;
}
.no-gutters>.col, .no-gutters>[class*=col-] {
   padding: 0 8px;
}